.App {
  font-family: sans-serif;
  /* text-align: center; */
}
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 38vw;
  margin: 2rem auto;
  background-color: #24232b;
  font-weight: 700;
  color: #707070;
  padding: 1rem;
}
.container-head-string {
  color: #fefefe;
  word-break: break-all;;
}
.container-head{
  display: flex;
  gap: 1rem;
  justify-content: space-between;  
}
.container-slider-value {
  display: flex;
  justify-content: space-between;
}
.container-head-copyicon {
  cursor: pointer;
}